<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>EmotionC</title>
	</head>
<body>
<div class="mainpage">
	<header>
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="header">
			<h1><a href="../../../front/profile.html">EmotionC</a></h1>
			<ul>
				<li><a href="../../../front/search.html">Поиск</a></li>
				<li><a href="../../../front/profile.html">Профиль</a></li>
				<img src="../static/img/userphoto.jpg">
				<li><a href="../../../front/profile.html">Иван Иванов</a></li>
				<li><a class="b" href="#">выйти</a></li>
			</ul>
			</div>
		</div>
	</div>
	</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="h1_main auth">Покажи свои эмоции!</h1>
				<div class="mainpage1">
				<button class="btn_main1" onclick="location.href='sign-in.html'">Войти</button>
				<button class="btn_main1" onclick="location.href='sign-up.html'">Регистрация</button>
				</div>
			</div>
		</div>
	</div>
</div>
	<footer>
		<p><span><a href="https://tot-hackathon.ru">Тот самый хакатон</a></span> &#10095; <span>2022</span> &#10095;  <span>Python головного мозга</span> &#10095; <span><a href="https://t.me/natalenko_sergey">Сергей Наталенко</a></span>  <span><a href="https://t.me/Azyenika">Артём Соколов</a></span> <span><a href="https://t.me/itwasjoke">Андрей Васильев</a></span></p>
		<script src="../static/js/jquery-3.6.1.min.js"></script>
		<script src="../static/js/script.js"></script>
	</footer>
</body>

</html>
