{% extends "base.html" %}
{% block content %}
<div class="mainpage">
	<header>
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="header">
			<h1><a href="{{ index_url }}">EmotionC</a></h1>
			<ul>
				<li><a href="{{ search_url }}">Поиск</a></li>
				<li><a href="{{ profile_url }}">Профиль</a></li>
				<img src="{{ url_for('static', path='img/userphoto.jpg') }}">
				<li><a href="{{ profile_url}}">Иван Иванов</a></li>
				<li><a class="b" href="#">Выйти</a></li>
			</ul>
			</div>
		</div>
	</div>
	</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="h1_main auth">Покажи свои эмоции!</h1>
				<div class="mainpage1">
				<button class="btn_main1" onclick="location.href='{{ login_url }}'">Войти</button>
				<button class="btn_main1" onclick="location.href='{{ register_url }}'">Регистрация</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
