<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
		<link href="../static/css/main.css" rel="stylesheet">
		<title>EmotionC</title>
	</head>
<body>
	<header>
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="header">
			<h1><a href="index.html">EmotionC</a></h1>
			<ul>
				<li><a href="search.html">Поиск</a></li>
				<li><a href="profile.html">Профиль</a></li>
				<img src="../static/img/userphoto.jpg">
				<li><a href="profile.html">Иван Иванов</a></li>
				<li><a class="b" href="sign-in.html">выйти</a></li>
			</ul>
			</div>
		</div>
	</div>
	</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="h1_main">Календарь эмоций</h1>
				<div>
					<div class="month"> 
					  <ul>
					    <li class="prev">&#10094;</li>
					    <li class="next">&#10095;</li>
					    <li id="month_txt" month="10">Октябрь</li>
					  </ul>
					</div>

					<ul class="weekdays">
					  <li>ПН</li>
					  <li>ВТ</li>
					  <li>СР</li>
					  <li>ЧТ</li>
					  <li>ПТ</li>
					  <li>СБ</li>
					  <li>ВС</li>
					</ul>

					<ul class="days month9"> 
					  <div class="none"></div>
					  <div class="none"></div>
					  <div class="none"></div>
					  <div><span>1</span><img src="../static/img/pos3.png" alt=""></div>
					  <div><span>2</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>3</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>4</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>5</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>6</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>7</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>8</span><img src="../static/img/pos3.png" alt=""></div>
					  <div><span>9</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>10</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>11</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>12</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>13</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>14</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>15</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>16</span><img src="../static/img/pos3.png" alt=""></div>
					  <div><span>17</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>18</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>19</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>20</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>21</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>22</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>23</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>24</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>25</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>26</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>27</span><img src="../static/img/pos3.png" alt=""></div>
					  <div><span>28</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>29</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>30</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>31</span><img src="../static/img/pos1.png" alt=""></div>
					</ul>
					<ul class="days month10 month_active"> 
					  <div class="none"></div>
					  <div class="none"></div>
					  <div class="none"></div>
					  <div class="none"></div>
					  <div class="none"></div>
					  <div><span>1</span><img src="../static/img/pos3.png" alt=""></div>
					  <div class="active"><span>2</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>3</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>4</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>5</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>6</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>7</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>8</span><img src="../static/img/pos3.png" alt=""></div>
					  <div><span>9</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>10</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>11</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>12</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>13</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>14</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>15</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>16</span><img src="../static/img/pos3.png" alt=""></div>
					  <div><span>17</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>18</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>19</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>20</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>21</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>22</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>23</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>24</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>25</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>26</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>27</span><img src="../static/img/pos3.png" alt=""></div>
					  <div><span>28</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>29</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>30</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>31</span><img src="../static/img/pos1.png" alt=""></div>
					</ul>
					<ul class="days month11"> 
					  <div class="none"></div>
					  <div><span>1</span><img src="../static/img/pos3.png" alt=""></div>
					  <div><span>2</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>3</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>4</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>5</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>6</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>7</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>8</span><img src="../static/img/pos3.png" alt=""></div>
					  <div><span>9</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>10</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>11</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>12</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>13</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>14</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>15</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>16</span><img src="../static/img/pos3.png" alt=""></div>
					  <div><span>17</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>18</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>19</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>20</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>21</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>22</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>23</span><img src="../static/img/pos1.png" alt=""></div>
					  <div><span>24</span><img src="../static/img/neg1.png" alt=""></div>
					  <div><span>25</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>26</span><img src="../static/img/neu3.png" alt=""></div>
					  <div><span>27</span><img src="../static/img/pos3.png" alt=""></div>
					  <div><span>28</span><img src="../static/img/neg2.png" alt=""></div>
					  <div><span>29</span><img src="../static/img/neu2.png" alt=""></div>
					  <div><span>30</span><img src="../static/img/pos2.png" alt=""></div>
					  <div><span>31</span><img src="../static/img/pos1.png" alt=""></div>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<h1 class="h1_main">Профиль</h1>
				<div class="div_main">
					<div class="prof_div">
						<img id="avatar" src="../static/img/userphoto.jpg">
						<div style="padding-left: 20px;">
							<h2 class="h2_prof" id="Иван Иванов">Иван Иванов</h2>
							<div class="emo_prof">
								<label class="emo_lbl">Эмоция за день на основе постов:</label>
								<img src="../static/img/pos2.png" alt="">
							</div>
						<input type="checkbox" name="private_account" class="form-check-input prof" checked></input>
						<label class="lbl_check">Сделать аккаунт приватным</label>
						</div>
					</div>

					<button class="btn_main1" id='add_emo_day'>Добавить эмоцию</button>

					<h3 class="curr_date">2 октября</h3>

					<label class="emo_lbl">Самый популярный пост</label>
					<p class="p_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
				</div>
			</div>
			<div class="col-md-6">
				 <h1 class="h1_main">Публикации <span id="add_post">+</span></h1>
				 <div class="div_main">
				 	<div class="post_title">
				 		<h2>Заголовок</h2>
				 		<img src="../static/img/pos2.png" alt="">
				 		<h4>Иван Иванов</h4>
				 	</div>
				 	<p class="p_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
				 	<p class="datetime">01.10.2022 17:00</p>
				 	<hr>
				 	<div id="comments">
				 		
				 		<div class="comment">
				 			
				 			<h4>Иван Иванов</h4>
				 			<p>Ну нихрена себе, как это понимать вообще? Бред какой-то</p>
				 			<p class="datetime1">01.10.2022 17:30</p>

				 		</div>
				 		<div class="create_comment">
				 			<input type="text" placeholder="Комментарий" name="comment">
				 			<button id="btn_create_comm">&#10095;&#10095;&#10095;</button>
				 		</div>
				 	</div>
				 </div>
			</div>
			<div class="col-md-6">
				 <h1 class="h1_main">Избранное</h1>
				 <div class="div_main">
				 	<div class="user_zbr">
				 		<img class="user_avatar_zbr" src="../static/img/userphoto.jpg">
				 		<h4>Иван Иванов</h4>
				 		<img class="star" stat="1" id="star1" src="../static/img/star_in.svg">
				 	</div>
				 	<div class="user_zbr">
				 		<img class="user_avatar_zbr" src="../static/img/userphoto.jpg">
				 		<h4>Иван Иванов</h4>
				 		<img class="star" stat="1" id="star2" src="../static/img/star_in.svg">
				 	</div>
				 	<div class="user_zbr">
				 		<img class="user_avatar_zbr" src="../static/img/userphoto.jpg">
				 		<h4>Иван Иванов</h4>
				 		<img class="star" stat="1" id="star3" src="../static/img/star_in.svg">
				 	</div>
				 </div>
			</div>
		</div>
	</div>

<div class="modal-background"></div>
<div id="edit_emo" class="modal">
<div class="form_edit_content">
	<h2 class="h1_main">Выбери свою эмоцию</h2>
	<div class="change_emo">
		<img src="../static/img/pos1.png" alt="">
		<img src="../static/img/pos2.png" alt="">
		<img src="../static/img/pos3.png" alt="">
		<img src="../static/img/neu1.png" alt="">
		<img src="../static/img/neu2.png" alt="">
		<img src="../static/img/neu3.png" alt="">
		<img src="../static/img/neg1.png" alt="">
		<img src="../static/img/neg2.png" alt="">
		<img src="../static/img/neg3.png" alt="">
	</div>
	<p class="cancel">Отмена</p>
</div>
</div>
<div id="add_post_form" class="modal">
<div class="form_edit_content">
	<h2 class="h1_main">Расскажите о своем настроении</h2>
	<input type="text" name="title" class="input_main" placeholder="Заголовок">
	<textarea name="post_content" class="input_main" placeholder="Текст поста"></textarea>
	<div class="grid_emo">
		<div class="change_emo post_emo">
			<img class="change_emo_img" id="emo1" src="../static/img/pos1.png" alt="">
			<img class="change_emo_img" id="emo2" src="../static/img/pos2.png" alt="">
			<img class="change_emo_img" id="emo3" src="../static/img/pos3.png" alt="">
			<img class="change_emo_img" id="emo4" src="../static/img/neu1.png" alt="">
			<img class="change_emo_img" id="emo5" src="../static/img/neu2.png" alt="">
			<img class="change_emo_img" id="emo6" src="../static/img/neu3.png" alt="">
			<img class="change_emo_img" id="emo7" src="../static/img/neg1.png" alt="">
			<img class="change_emo_img" id="emo8" src="../static/img/neg2.png" alt="">
			<img class="change_emo_img" id="emo9" src="../static/img/neg3.png" alt="">
		</div>
		<div>
			<input type="checkbox" name="private" class="form-check-input" checked></input>
			<label class="lbl_check">Сделать пост приватным</label>
		</div>
	</div>
	<button class="btn_main1" id="create_post_btn">Создать</button>
	<p class="cancel">Отмена</p>
</div>
</div>
<div id="do_avatar" class="modal">
<div class="form_edit_content">
	<h2 class="h1_main">Добавьте аватар :)</h2>
	<input type="file" name="file_avatar" class="input_main">
	<button class="btn_main1" id="create_post_btn">Сохранить</button>
	<p class="cancel">Отмена</p>
</div>
</div>

	<footer>
		<p><span><a href="https://tot-hackathon.ru">Тот самый хакатон</a></span> &#10095; <span>2022</span> &#10095;  <span>Python головного мозга</span> &#10095; <span><a href="https://t.me/natalenko_sergey">Сергей Наталенко</a></span>  <span><a href="https://t.me/Azyenika">Артём Соколов</a></span> <span><a href="https://t.me/itwasjoke">Андрей Васильев</a></span></p>
		<script src="../static/js/jquery-3.6.1.min.js"></script>
		<script src="../static/js/script.js"></script>
	</footer>
</body>

</html>
