<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
		<link href="../static/css/main.css" rel="stylesheet">
		<title>EmotionC</title>
	</head>
<body>
	<header>
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="header">
			<h1><a href="{{ index_url }}">EmotionC</a></h1>
			<ul>
				<li><a href="{{ search_url }}">Поиск</a></li>
				<li><a href="{{ profile_url }}">Профиль</a></li>
				<img src="{{ url_for('static', path='img/userphoto.jpg') }}">
				<li><a href="{{ profile_url }}">Иван Иванов</a></li>
				<li><a class="b" href="sign-in.html">выйти</a></li>
			</ul>
			</div>
		</div>
	</div>
	</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="h1_main">Поиск</h1>
				<div class="grid_search">
					<div class="emo_search">
						<img id="emo_search_img" src="../static/img/pos1.png">
						<div id="emo_search_smile" class="change_emo post_emo srch_ch op0">
							<img class="change_emo_img sr" id="emo1" src="../static/img/pos1.png" alt="">
							<img class="change_emo_img sr" id="emo2" src="../static/img/pos2.png" alt="">
							<img class="change_emo_img sr" id="emo3" src="../static/img/pos3.png" alt="">
							<img class="change_emo_img sr" id="emo4" src="../static/img/neu1.png" alt="">
							<img class="change_emo_img sr" id="emo5" src="../static/img/neu2.png" alt="">
							<img class="change_emo_img sr" id="emo6" src="../static/img/neu3.png" alt="">
							<img class="change_emo_img sr" id="emo7" src="../static/img/neg1.png" alt="">
							<img class="change_emo_img sr" id="emo8" src="../static/img/neg2.png" alt="">
							<img class="change_emo_img sr" id="emo9" src="../static/img/neg3.png" alt="">
						</div>
					</div>
					<input type="text" name="search_txt" placeholder="Введите запрос">
					<button id="search_go">&#10095;&#10095;&#10095;</button>
				</div>
			</div>
			<div class="col-md-8">
				 <h1 class="h1_main">Публикации <span id="add_post">+</span></h1>
				 <div class="div_main">
				 	<div class="post_title media_for">
				 		<h2>Заголовок</h2>
				 		<img src="../static/img/pos2.png" alt="">
				 		<h4>Иван Иванов</h4>
				 		<img class="star star_correct" stat="1" id="star1" src="../static/img/star_in.svg">
				 	</div>
				 	<p class="p_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
				 	<p class="datetime">01.10.2022 17:00</p>
				 	<hr>
				 	<div id="comments">
				 		
				 		<div class="comment">
				 			
				 			<h4>Иван Иванов</h4>
				 			<p>Ну нихрена себе, как это понимать вообще? Бред какой-то</p>
				 			<p class="datetime1">01.10.2022 17:30</p>

				 		</div>
				 		<div class="create_comment">
				 			<input type="text" placeholder="Комментарий" name="comment">
				 			<button id="btn_create_comm">&#10095;&#10095;&#10095;</button>
				 		</div>
				 	</div>
				 </div>
			</div>
			<div class="col-md-4">
				 <h1 class="h1_main search_izbr">Избранное</h1>
				 <div class="div_main">
				 	<div class="user_zbr srch">
				 		<img class="user_avatar_zbr" src="../static/img/userphoto.jpg">
				 		<h4>Иван Иванов</h4>
				 		<img class="star" stat="1" id="star1" src="../static/img/star_in.svg">
				 	</div>
				 	<div class="user_zbr srch">
				 		<img class="user_avatar_zbr" src="../static/img/userphoto.jpg">
				 		<h4>Иван Иванов</h4>
				 		<img class="star" stat="1" id="star2" src="../static/img/star_in.svg">
				 	</div>
				 	<div class="user_zbr srch">
				 		<img class="user_avatar_zbr" src="../static/img/userphoto.jpg">
				 		<h4>Иван Иванов</h4>
				 		<img class="star" stat="1" id="star3" src="../static/img/star_in.svg">
				 	</div>
				 </div>
			</div>
		</div>
	</div>

<div class="modal-background"></div>

<div id="add_post_form" class="modal">
<div class="form_edit_content">
	<h2 class="h1_main">Расскажите о своем настроении</h2>
	<input type="text" name="title" class="input_main" placeholder="Заголовок">
	<textarea name="post_content" class="input_main" placeholder="Текст поста"></textarea>
	<div class="grid_emo">
		<div class="change_emo post_emo">
			<img class="change_emo_img" id="emo1" src="../static/img/pos1.png" alt="">
			<img class="change_emo_img" id="emo2" src="../static/img/pos2.png" alt="">
			<img class="change_emo_img" id="emo3" src="../static/img/pos3.png" alt="">
			<img class="change_emo_img" id="emo4" src="../static/img/neu1.png" alt="">
			<img class="change_emo_img" id="emo5" src="../static/img/neu2.png" alt="">
			<img class="change_emo_img" id="emo6" src="../static/img/neu3.png" alt="">
			<img class="change_emo_img" id="emo7" src="../static/img/neg1.png" alt="">
			<img class="change_emo_img" id="emo8" src="../static/img/neg2.png" alt="">
			<img class="change_emo_img" id="emo9" src="../static/img/neg3.png" alt="">
		</div>
		<div>
			<input type="checkbox" name="private" class="form-check-input" checked></input>
			<label class="lbl_check">Сделать пост приватным</label>
		</div>
	</div>
	<button class="btn_main1" id="create_post_btn">Создать</button>
	<p class="cancel">Отмена</p>
</div>
</div>

	<footer>
		<p><span><a href="https://tot-hackathon.ru">Тот самый хакатон</a></span> &#10095; <span>2022</span> &#10095;  <span>Python головного мозга</span> &#10095; <span><a href="https://t.me/natalenko_sergey">Сергей Наталенко</a></span>  <span><a href="https://t.me/Azyenika">Артём Соколов</a></span> <span><a href="https://t.me/itwasjoke">Андрей Васильев</a></span></p>
		<script src="../static/js/jquery-3.6.1.min.js"></script>
		<script src="../static/js/script.js"></script>
	</footer>
</body>

</html>
